


form .helptext {
    font-size: 12px;
    color: #ccc;
}

form ul {
    display: none;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.zoom-hover{
    transition: transform 0.3s ease;
}

.zoom-hover:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.librarylist {
  max-height: 1000px;
  overflow: auto;
}
