{% extends 'base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
<div style="width: 15%; word-wrap: break-word;">
    <aside class="menu">
        <p class="menu-label">
            YOUR LIBRARY
        </p>
        <ul class="menu-list library">
            {% for item in library_items %}
            <li><a>{{ item.game.title }}</a></li>
            {% endfor %}
        </ul>
        
    </aside>
   
</div>

{% else %}
    <h1>You need to Log In to see your library!</h1>
{% endif %}
{% endblock %}