{% extends 'base.html' %}

{% block content %}
<div class="columns">
    <div class="column is-6 is-offset-3">
        <h1 class="title">Sign up</h1>

        <form method="post" action=".">
            {% csrf_token %}
    
            {{ form.as_p }}
            
            {% if form.errors %}
                <div class="notification is-danger">
                    Your password can’t be too similar to your other personal information.<br>
                    Your password must contain at least 9 characters.<br>
                    Your password should contain both characters and numbers<br>
                    Your username should be at least 2 characters long.<br>
                    This username may already be in use.
                </div>
            {% endif %}

            <div class="field">
                <div class="control">
                    <button class="button is-success">Sign up</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}