{% extends 'base.html' %}
{% block title %}{{ category.title }} | {% endblock %}

{% block content %}
    <h1 class="title">{{ category.title }}</h1>

    <div class="columns is-multiline">
        {% for product in products %}
            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                             <img src="/media/{{ product.thumbnail }}">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="medie-content">
                                <p class="title is-4"> {{ product.title }}</p>
                                <p class="subtitle is-6"> €{{ product.price }}</p>
                            </div>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <button style="width:100%; display:block;" class="button is-primary is-outlined">
                            <a href="{% url 'product_detail' product.category.slug product.slug %}" style="font-weight:bold; color: black; padding-top:0%;" class="card-footer-item">View</a>
                        </button>
                    </footer>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}