{% extends 'base.html' %}

{% block title %}{{ product.title }} | {% endblock %}

{% block content %}
    <div id="productapp">
        <div style="display: flex;">
            <img src="/media/{{ product.image }}" width="700" height="470">
            <div style="margin-left: 20px;">
                <h1 class="title">{{ product.title }}</h1>
                {% if product.reviews.all|length > 0 %}
                    <h3 class="subtitle">Rating: {{ product.get_rating|floatformat:1}} stars.</h3>
                {% else %}
                    <h3 class="subtitle">Rating: Not reviewed yet.</h3>
                {% endif %}
                {% if product.description %}
                    <p style="background-color: #d1d1d1; color: black; padding: 5px; border-radius: 5px; margin-left: 5px;">{{ product.description }}</p>
                {% endif %}

                <div style="display: flex; align-items: center; margin-top: 10px;">
                    {% if has_game == 0 %}
                            <button class="button is-primary" v-if="is_in_cart" @click="alreadyInCart()">Already in Cart</button>

                            <button class="button is-primary" v-else @click="addToCart({{ product.id }})">Add to cart</button>

                            <div style="background-color: #f0f0f0; color: black; padding: 5px; border-radius: 5px; margin-left: 5px;">
                                €{{ product.price }}
                            </div>
                    {% else %}
                        <button class="button is-primary" >
                            <a href="{% url 'library' %}" style="color: white;">Go to library</a>
                        </button>
                        <div style="background-color: #f0f0f0; color: black; padding: 5px; border-radius: 5px; margin-left: 5px;">
                            You already own this game!
                        </div>
                    {% endif %}
                </div>
                <transition name="fade">
                    <article class="message is-primary is-inline-block" v-if="showMessage" style="margin-top: 10px;">
                        <div class="message-body">
                            Game added to Cart!
                        </div>
                    </article>
                </transition>
                <transition name="fade">
                    <article class="message is-warning is-inline-block" v-if="alreadyMessage">
                        <div class="message-header">
                        <p>Warning</p>
                        <button class="delete" @click="alreadyMessage = !alreadyMessage" aria-label="delete"></button>
                        </div>
                        <div class="message-body">
                        This item is already in your Cart
                        </div>
                    </article>
                </transition>
            </div>
        </div>

        <hr>


        {% if request.user.is_authenticated %}
            {% if has_game == 0 %}
            <div class="notification space-under">
                <p>You have to purchase the game to write a review!</p>
            </div>
            {% else %}
            <h2 class="subtitle"><strong>Write a review</strong></h2>
            <div class="notification space-under">
                <form method="post" action=".">
                    {% csrf_token %}
                    
                    <div class="field">
                        <label>Stars</label>

                        <div class="control">
                            <div class="select">
                                <select name="stars" required>
                                    <option value="" selected>-</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label>Write a review</label>
                        <div class="control">
                            <textarea class="textarea" name="content"></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary">Sumbit Review</button>
                        </div>
                    </div>
                </form>
            </div>
            {% endif %}
        {% else %}
        <div class="notification space-under">
            <p>Please log-in to write a review!</p>
        </div>
        {% endif %}      
        
        <hr>
        <h2 class="subtitle">Reviews</h2>

        <div class="reviews-wrapper">
            {% for review in product.reviews.all %}
                <div class="notification space-under">
                    <p>
                        <strong>User: </strong>{{ review.user }},
                        <strong>Date: </strong>{{ review.date_added|date:"Y-m-d" }},
                        <strong>Stars: </strong>{{ review.stars }}
                    </p>

                    {{ review.content }}
                </div>
            {% empty %}
                <div class="notification space-under">
                    No reviews for this game yet.
                </div>
            {% endfor %}
        </div>
        
        
        

    </div>
{% endblock %}

{% block scripts %}
<script>
    var productapp = new Vue({
        el: '#productapp',
        delimiters: ['[[', ']]'],
        //store: store,
        data () {
            return {
                showMessage: false,
                is_in_cart: false,
                alreadyMessage:false
            }
        },
        mounted() {
            if ({{ in_cart }} == 0){
                this.is_in_cart = false
            } else {
                this.is_in_cart = true
            }
        },
        methods: {
            addToCart(product_id) {
                console.log('Product_id:', product_id);

                var data = {
                    'product_id': product_id, 
                    'update': false,
                    'quantity': 1
                };  
                    
                fetch('/api/api_add_to_cart/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    console.log(response)

                    this.showMessage = true;
                    this.is_in_cart = true;
                    //store.commit('increment', 1);
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            alreadyInCart(){
                this.alreadyMessage = true;
                this.showMessage = false;
            }
        }
    });
</script>
{% endblock %}