{% extends 'base.html' %}

{% block title %}Cart | {% endblock %}

{% block content %}
    <div id="cartapp">
        <h1 class="title">Cart</h1>

        {% if cart %}
            <div class="table is-inline-block is-bordered" style="padding: 5px; border-radius: 5px;">
                <table class="table" style="padding: 5px; border-radius: 5px;">
                    <thead>
                        <th></th>
                        <th>Product</th>
                        <th>Price</th>
                        <th></th>
                    </thead>

                    <tbody>
                        <tr v-for="product in products">
                            <td>
                                <figure class="image is-96x96">
                                    <img :src="product.thumbnail">
                                </figure>
                            </td>
                            <td>
                                <a :href="product.url" style="color: rgb(0, 185, 145);">
                                    [[ product.title ]]
                                </a>
                            </td>
                            <td>[[ product.total_price ]]</td>
                            <td><button class="button is-light" @click="removeFromCart(product.id)">X</button></td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td style="font-weight:bold"> Total cost:</td>
                            <td style="font-weight:bold">{{ cart.get_total_cost }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>

                </table>
            </div>

            {% if request.user.is_authenticated %}
                {% if flag == 1 %}
                    <div class="notification is-danger">
                        Please remove the games you already own from the cart!
                    </div>
                {% else %}
                    <form v-on:submit.prevent="buy()">
                        <div class="field">
                            <div class="field">
                                <div class="control">
                                    <button @click="changeBut(); buy();" class="button is-primary" v-if="!checkoutpressed">Check out</button>
                                    <button class="button is-primary is-loading" disabled v-else>Check out</button>
                                </div>
                            </div>
                        </div>
                    </form>
                {% endif %} 
            {% else %}
                    <div class="field">
                        <div class="field">
                            <div class="control">
                                <a href="{% url 'login'%}"><button class="button is-primary">Login to check out</button></a>
                            </div>
                        </div>
                    </div>
            {% endif %}    

        {% else %}
            <p>Your cart is empty!</p>
        {% endif %}
        
    </div>
{% endblock %}

{% block scripts %}
<script type="application/javascript" src="https://js.stripe.com/v3/"></script>
<script>
    var productapp = new Vue({
        el: '#cartapp',
        delimiters: ['[[', ']]'],
        //store: store,
        data () {
            return {
                checkoutpressed: false,
                errors: [],
                products: [{{ productsstring|safe }}]
            }
        },
        beforeMount() {
            this.checkoutpressed = false;
        },

        methods: {
            changeBut(){
                console.log(this.checkoutpressed)
                this.checkoutpressed = true
                console.log(this.checkoutpressed)
            },
            
            buy() {
                var data = {
                    'username': '{{ request.user.username }}'
                };
                this.errors = [];

                var stripe = Stripe('{{ pub_key }}');
                console.log("NA to")

                fetch('/api/create_checkout_session/',{
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then(function(response){
                    return response.json()
                    checkoutpressed = true
                })
                .then(function(session){
                    return stripe.redirectToCheckout({ sessionId: session.session.id})
                })
                .then(function(result){
                    if (result.error){
                        alert(result.error.message)
                    }
                })
                .catch(function(error){
                    console.log('Error: ', error)
                });
            },

            removeFromCart(product_id) {
                console.log('Product_id:', product_id);

                var data = {
                    'product_id': product_id
                };
                    
                fetch('/api/remove_from_cart/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    console.log(response)

                    this.products = this.products.filter(product => product.id !== product_id)
                })
                .catch(function (error) {
                    console.log('Error 2');
                    console.log(error);
                })
                setTimeout(() => {
                    window.location.reload();
                }, 1);
            }
        }
    });
    window.onpageshow = function(event) {
        if (event.persisted) {
            productapp.checkoutpressed = false;
        }
    };
</script>
{% endblock %}